PORT=4000
DATABASE_URL="postgresql://postgres:password@localhost:5432/proxmox_vps?schema=public"

# Kredensial Proxmox Anda
PROXMOX_URL="https://ALAMAT_IP_PROXMOX_ANDA:8006/api2/json"
PROXMOX_TOKEN_ID="root@pam!nama_token_anda"
PROXMOX_SECRET="uuid-secret-anda-disini"
